.logo {
    color: white;
    margin-left: 80px;
    font-family: 'Oswald', sans-serif;
     text-shadow: 2px 2px black;
}

h1 {
  color: black;
  margin-left: 80px;
  font-family: 'Oswald', sans-serif;
   text-shadow: 2px 2px white;
}

h2 {
  font-family: 'Oswald', sans-serif;
  margin-left: 80px;
   text-shadow: 2px 2px black;
   color: white;
}


.line {
  margin-left: 80px;
}


.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;
  border-color: black;
   box-shadow: 5px 10px #888888;
   background-color: white;
  margin-left: 80px;
  margin-right: 80px;
}

.mes {
  color: black;
  font-family: 'Oswald', sans-serif;
   text-shadow: 2px 2px white;
}

.quizbody {
  background: linear-gradient(to right, #A8FFAD, #B4D7FE, #86A0FF);
}

.all {
  background-color: #FFFBBC
}


.submit {
  height: 50px;
  width: 80px;
  border-radius: 10px;
  font-size: 15px;
}

.btn1 {
  margin-top: 50px;
  height: 50px;
  width: 80px;
  border-radius: 10px;
  margin-left: 80px;
  font-size: 30px;
}

.btn2 {
  margin-top: 50px;
  height: 50px;
  width: 80px;
  border-radius: 10px;
  margin-left: 80px;
  font-size: 30px;
}

.btn3 {
  margin-top: 50px;
  height: 50px;
  width: 80px;
  border-radius: 10px;
  margin-left: 80px;
  font-size: 30px;
}

.text1 {
  margin-top: 20px;
  margin-left: 80px;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
}

.text2 {
  margin-top: 20px;
  margin-left: 80px;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
}

.text3 {
  margin-top: 20px;
  margin-left: 80px;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
}

.quiz {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  display: flex;
  justify-content: space-around;

}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 80px;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: gold;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #yellow;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}







.quiz {
  margin-left: 80px;
}


 .appendgen1 {
  display: none;

}

.appendgen2{
  display: none;
}

.appendgen3 {
  display: none;
}





.index-body {
  background-image: url("https://images.pexels.com/photos/269874/pexels-photo-269874.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  }



/* cat1 css */
.relaxInfo {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Rancho', cursive;
    font-size: 25px;
}
.relax {
    background-color: #FFDCB5;
  }
/* #title {
  display: flex;
  justify-content: center;
} */
  img {
    object-fit: cover;
    height: 450px;
    width: 450px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
  }
.article {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 25px;
}
/* .description {
  text-align: center;
} */






/* cat2 css */
.cultureInfo {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Rancho', cursive;
    font-size: 25px;
}
.culture {
    background-color: #DBD3FE;
  }
/* #title {
  display: flex;
  justify-content: center;
} */
  img {
    object-fit: cover;
    height: 450px;
    width: 450px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
  }
.article {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 25px;
}
.description {
  text-align: center;
}




/* cat3 css */
.richInfo {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Rancho', cursive;
    font-size: 25px;
}
.rich {
    background-color: #FFCBCF;
  }
/* #title {
  display: flex;
  justify-content: center;
} */
  img {
    object-fit: cover;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
  }
.article {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 25px;
}
.description {
  text-align: center;
}





/*
@media screen and (max-width: 1200px) {
  img {
    width: 40%;
    height: 300px;
    margin: 10px;
    object-fit: cover;
  }
}

@media screen and (max-width: 800px) {
  img {
    width: 90%;
    height: 400px;
    margin: 10px;
    object-fit: cover;
  }
} */
/* body {
  background-image: url("https://images.pexels.com/photos/1092364/pexels-photo-1092364.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
} */
